extends layout

block content
	.row.banner
		.col-12
			h1= title
	.row
		.col-12.col-lg-8
			p
				| Srida was created to help people find places to sit down and get a bit of work done.
				br
				br
				| IT HAS A GENEROUS AND NURTURING SPIRIT.
				br
				| A SOLUTION FOR ALL THE EVENTS.
				br
				| ACTS LIKE A MEDIATOR BETWEEN THE CUSTOMER AND RETAILER.
				br
				| STYLE IT IN YOUR OWN WAY JUST THE WAY YOU VIBE.
				br
				| SMALL OR LARGE, FUNCTION OR PARTY, EVERYTHING YOU NEED IS HERE.
				br
				| MUSIC OR DECORATIONS, PHOTOGRAPHY OR HOSTING, PRIEST OR HAVAN, YOU NAME IT WE HAVE IT.
