extends layout

block content
    .row.banner
        .col-12
            h1 Hi Dishmitha
            small Find places to work with wifi near you!
    .row
        .col-12.col-md-8
            .card
                .card-block
                    h4
                        a(href="/location")
                            em burgerking
                        span.rating-stars(style="margin-left:8px; color:#ccc;")
                            | ★★★☆☆
                        span.badge.float-right 100m
                    p.address 34 street, nagole
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi

            .card
                .card-block
                    h4
                        a(href="/location")
                            em coffee
                        span.rating-stars(style="margin-left:8px; color:#ccc;")
                            | ★★★☆☆
                        span.badge.float-right 200m
                    p.address 125 High Street, Reading, RG6 1PS
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi

            .card
                .card-block
                    h4
                        a(href="/location")
                            em starcups
                        span.rating-stars(style="margin-left:8px; color:#ccc;")
                            | ★★★☆☆
                        span.badge.float-right 250m
                    p.address 12 High Street, Gandi nagar
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi

        .col-12.col-md-4
            p.lead Looking for wifi and a seat? Srida helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Srida help you find the place you're looking for.
